<style>
	ol.breadcrumb.cardsaleslist {
		padding: 8px 15px;
	    margin-bottom: 7px;
	    list-style: none;
	    background-color: #f5f5f5;
	    border-radius: 5px;
	    margin-top: 8px;
	}
	.detail-icon {
		float: right;
    	color: #b5b5b5;
	}
	.detail-icon:hover {
		cursor: pointer;
		color: #949494;
	}
	h4.title {
		margin-left: 5.8%;
		margin-top: 3%;
	}
	.detailitem {
		line-height: 2.5;
		font-size: smaller;
	    font-family: cursive;
	    text-indent: 1em;
	    letter-spacing: 1.5px;
	}
	.detailitem li:hover {
		background: #f5f5f5;
    	border-radius: 5px;
	}
	.detailitem .date {
		font-family: sans-serif;
    	float: right;
	}
	.detailitem .money {
		float: right;
		margin-right: 2%;
	}
	h4.title span:first-child {
		margin-left: 5%;
	}
	h4.title span {
		margin-left: 1%;
		color: #656565;
    	font-weight: 500;
	}


	table .centertext{
		text-align:center;
	}
	
</style>
<div class="modal-header">
    <h3 class="modal-title">客户消费信息查询：</h3>
</div>

<div class="modal-body">
	<form role="form" name="showCusSalesform" class="form-horizontal" novalidate="novalidate">
 	    <div class="form-group">
	    	<label class="col-sm-2 control-label">客户姓名</label>
	    	<div class="col-sm-7">    
	    		<label name="cusname" class="form-control-static">{{customname}}</label>
	    	</div>
	  	</div>

		<div class="form-group">
			<div class="col-md-12"><span class="label label-large label-success">所持卡券</span></div>
			<div class="col-md-12" ng-if="cardflag==false">
				<ol class="breadcrumb cardsaleslist" ng-repeat="cardsalesItem in cardsalesItems" ng-if="(cardsalesItem.surplussales>0 || showzero) || (cardsalesItem.surplustimes>0|| showzero)" >
				    <li class="active">{{cardsalesItem.cardno}}</li>
					<li >{{cardsalesItem.cardkindname}}</li>
				    <li class="active" ng-if="cardsalesItem.balancetype=='金额结算' ">余额：{{cardsalesItem.surplussales}} 元</li>
				    <li class="active" ng-if="cardsalesItem.balancetype=='次数结算' ">剩余：{{cardsalesItem.surplustimes}} 次</li>
 				    <span class="btn" ng-click="showdetail(cardsalesItem)"><i class="fa fa-search"></i></span>
					<div class="panel panel-default" style="padding:10px;" ng-if="cardsalesItem.$showdetails">
						<label class="title"> 消费明细： <span>{{cardno}}</span><span> - </span><span>{{cardname}}</span></label>
						<table class="table detailitem">
							<thead>
								<th class="centertext">消费项目</th>
								<th class="centertext">消费金额</th>
								<th class="centertext">卡上余额</th>
								<th class="centertext">消费时间</th>
							</thead>
							<tbody>
								<tr ng-repeat="detail in details">
									<td class="centertext">{{detail.consumepro}}</td>
									<td>
										<span class="money" ng-if="detail.balancetype=='金额结算'">{{detail.cardconsumesales}} ¥ </span>
										<span class="money" ng-if="detail.balancetype=='次数结算'">{{detail.cardconsumetimes}} 次 </span>
									</td>
									<td>
										<span class="money" ng-if="detail.balancetype=='金额结算'">{{detail.cardsurplussales}} ¥ </span>
										<span class="money" ng-if="detail.balancetype=='次数结算'">{{detail.cardsurplustimes}} 次</span>
									</td>
									<td class="centertext">{{detail.consumetime|date : 'yyyy-MM-dd hh:mm:ss'}}</td>

								</tr>
							</tbody>

						</table>
						<button class="btn btn-default" ng-click="hidedetails(cardsalesItem)"> 关 闭 </button>
					</div>
 				</ol>
 				<ol class="breadcrumb">
					<li><div class="btn btn-default btn-small" ng-click="showzero=!showzero"><span  ng-if="!showzero">显示零余额卡片</span><span  ng-if="showzero">隐藏零余额卡片</span></div></li>
				</ol>
			</div>
			<div class="col-md-12" ng-if="cardflag==true">
				<label name="cuscardItems" class="form-control-static"> 暂 无 </label>
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-12"><span class="label label-large label-success">消费明细</span></div>
			<div class="col-md-12" style="max-height:400px;overflow-y:scroll;">
				<uib-accordion close-others="oneAtATime">
					<div ng-repeat="type in moneyType" uib-accordion-group class="col-md-12" heading="{{type}}">
						<ol class="breadcrumb cardsaleslist" ng-repeat="moneysalesItem in moneysalesItems |filter:{productType:type}">
							<li class="active">{{moneysalesItem.proname}}</li>
							<li>( {{moneysalesItem.procount}} × {{moneysalesItem.proprice}} ¥ ) {{moneysalesItem.product_total}} ¥</li>
							<li class="active">{{moneysalesItem.consumetime|date : 'yyyy-MM-dd hh:mm:ss'}}</li>
							<li >{{moneysalesItem.staffName}}</li>
						</ol>
					</div>

				</uib-accordion>

			</div>
			<div class="col-md-12" ng-if="moneyflag==true">
				<label name="cusmoneyItems" class="form-control-static"> 暂 无 </label>
			</div>
		</div>
		


		<div style="clear:both;"></div>
	</form>
</div>

<div class="modal-footer">
    <button class="mb-sm btn btn-danger" type="button" ng-click="cancel()">取消</button>
</div>