<style>
	.navbar-default.cus {            
    	margin-top: -1.8%;    
	    background-color: #F5F7FA;
	    border-color: #F5F7FA;
	}
    .btn.btn-default.cus {  
    	margin-top: 10px; 
    } 
   .table.customs > tbody > tr > td,.table > thead:first-child > tr:first-child > th { 
        text-align:center;  
		vertical-align: middle;
   }
	table.customs .btn-sm {    
		border-color: #F5F4F4;
	} 
	table.customs .btn-sm.del {
		color: rgb(255,64,129);           
	}
	table.customs .btn-sm.del:hover {
		border-color: #FFE1E1;
    	background-color: #FFF7F7;
	}       
	table.customs .btn-sm.upd {
	    color: rgb(22, 178, 255);
	}
	table.customs .btn-sm.upd:hover {
		border-color: #E1EBFF;
    	background-color: #F6FCFF; 
	}
</style>

<h3>{{title}}</h3>
<div class="col-md-8 col-sm-12">
	<button class="btn btn-default cus add" ng-click="addcustom()"><i class="fa fa-plus"></i>新增客户 </button>
	<button class="btn btn-default cus del" ng-click="deletecustoms()"><i class="fa fa-minus"></i> 删除所选客户 </button>

</div>
<div class="col-md-4 col-sm-12">
	<form class="form-inline">
		<div class="form-group">
			<input type="text" class="form-control" placeholder="客户姓名搜索" ng-model="searchkey">
			<button type="submit" class="btn btn-default" ng-click="searchcustom(searchkey)">搜  索</button>
		</div>
	</form>
</div>

<table class="table table-striped customs">    
	<thead>       
		<tr>
			<th><input type="checkbox" ng-model="$isselectall" ng-click="selectall($value)"/></th>
		    <th>姓名</th>
		    <th>电话</th>
		    <th>出生日期</th> 
		    <th>年龄</th>              
		    <th>是否 VIP</th>    
		    <th>VIP 卡号</th> 
		    <th>首次到店日期</th>
			<th>最近消费日期</th>
			<th>所属区域</th>
			<th>操作</th>   
		</tr>
	</thead>
	<tbody>
        <tr ng-repeat="custom in customs">
          <td><input type="checkbox" cno="{{custom.customno}}" ng-model="custom.$isselected" /></td>
          <td>{{custom.customname}}</td>
          <td>{{custom.customphone}}</td>
          <td>{{custom.custombirthday}}</td>
          <td>{{custom.customage}}</td>
          <td>{{custom.ifvip}}</td>
          <td>{{custom.vipcardno}}</td>        
          <td>{{custom.firstconsumetime|date : 'yyyy-MM-dd'}}</td>   
          <td>{{custom.latelyconsumetime|date : 'yyyy-MM-dd'}}</td>         
          <td>{{custom.customarea}}</td>  
          <td>
          	<a class="btn btn-default btn-sm upd" ng-click="updatecustom(custom)">修改</a>                      
          	<a class="btn btn-default btn-sm del" ng-click="deletecustom(custom.customno)">删除</a>
          </td> 
        </tr>
      </tbody>      
</table>

